{% extends 'main.html' %} {% load static %}

{% block content %}

<!-- About us -->
<div class="container p-5">

    <h4 class="text-center mb-3">SHOP NOW</h4>

    <h2 class="text-center mb-3">SHOPZESTA</h2>

    <div class="text-center mb-3">
        <small>
            Unique products and toys that you will like and prices that you will love from our
            family to yours.
        </small>
    </div>

    <div class="mb-3">
        Flashing: Secure payment options. <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Quality sourced products <br>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Affordable prices
    </div>

    <div>
        About Us: <br>
        Hello. Our names are Nicholas and Laura Finch. We are a family owned business and started this adventure with
        Shopzesta
        in 2021. In the past, we have owned and operated other successful companies where we refined our skills of
        customer
        service. Throughout the years in business, we have served thousands of customers and have always done our very
        best to
        provide a positive experience for every single client.
        As parents ourselves, we understand the challenges that every family has to face right now and our goal is to
        provide
        hard to find products at the best prices. We know the household items you need and we are determined to provide
        a one
        stop shop type website that is easy to use and offers everything you can use. We try to concentrate on items you
        require
        that aren’t as readily available as they should be and items you need for every member of your family. We hope
        you find
        our site easy to navigate and the checkout process to be effortless and efficient.

    </div>
</div>

{% endblock %}