{% extends 'main.html' %} {% load static %}

{% block content %}

<div class="container">
    <h2 class="my-5 text-center">Shopzesta payment and shipping</h2>

    <p>We accept most credit and debit cards . We charge a five percent card processing fee and if you would like to pay
        another way we can take cash app or zelle as well . Items will be shipped within one business day after order is
        placed
        and you will get a tracking number in your email once item is shipped . If you have any questions see our
        contaxt
        page</p>

    <p>Contact page - <br>
        You can contact us at <a href="mailto: shopzesta@2020@gmail.com">shopzesta@2020@gmail.com</a> <br>
        Or <a href="mailto: orders.shopzesta@gmail.com">orders.shopzesta@gmail.com</a> <br>
        Also you can reach out to us at 8504544211<br>
        Thank you</p>
</div>


{% endblock %}